@import "bower_components/bootstrap/less/bootstrap.less";

@icon-font-path: "/bower_components/bootstrap/fonts/";

html, body {
  padding-top: 25px;
  //  height: 100%;
  //  overflow: hidden;
}

.row {
  .row;
  min-height: 25px;
}

a, .row > .pointer {
  cursor: pointer;
}

a.navbar-brand {
  cursor: default;
}

.navbar-inverse .navbar-brand {
  color: #FFFFFF;
}

span.error {
  .label;
  .label-danger;
}

//.row-striped {
//  height: 100%;
//  overflow: auto;
//}

.row-striped > div.row:nth-child(odd) {
  background-color: #f9f9f9;
}

.selected {
  background-color: #30B1FF;
}

.underline {
  text-decoration: underline;
}

.angular-google-map-container {
  height: 400px;
}

.btn-f-r {
  float: right;
}
