<div class="page-header">
    <h1>
        <small>Detalle:</small>
    </h1>
</div>

<div id="routes" class="well">
    <form name="formElement" class="form">
        <div class="row">
            <div class="col-md-12">
                <h3>{{viaje.nombre}}</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <span>
                    <strong>Fecha de Arribo:</strong>
                    {{viaje.fechaDeArribo | date:'dd.MM.yyyy'}}
                </span>
            </div>

            <div class="col-md-6">
                <span>
                    <strong>Fecha de Partida:</strong>
                    {{viaje.fechaDePartida | date:'dd.MM.yyyy'}}
                </span>
            </div>
        </div>
    </form>
</div>
