<div class="page-header">
    <h1>Viajes</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <a class="btn btn-info" ui-sref="viajes.nuevo">
            Nuevo viaje
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        &nbsp;
    </div>
</div>

<div class="row-striped">

    <div class="row" ng-repeat="viaje in viajes | orderBy:'fechaDeArribo'">
        <div class="col-md-8 pointer" vp-open
             tooltip-html-unsafe="{{viaje.nombre}}<br> Fecha de arribo: {{viaje.fechaDeArribo | date:'dd.MM.yyyy'}}<br> Fecha de partida: {{viaje.fechaDePartida | date:'dd.MM.yyyy'}}"
             ui-sref="viajes.detalles({ id: viaje._id })">
            <span>{{viaje.nombre}}</span>
        </div>
        <div class="col-md-2">
            <a class="btn btn-info" ui-sref="viajes.edit({ id: viaje._id })">
                Editar
            </a>
        </div>
        <div class="col-md-2">
            <button class="btn btn-danger btn-m"
                    ng-click="open(viaje._id)">
                Eliminar
            </button>
        </div>
    </div>

</div>

<div ng-include="'/templates/modal.html'">
</div>
